<footer class="h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <p><b>DevC Clash of Code</b> oleh DevC Bandung dan DevC Semarang</p>

    <div class="footer-col-wrapper">
      <div class="footer-column">
        <ul class="social-media-list">
          <li><a href="https://www.facebook.com/groups/DevCBandung"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">Facebook Developer Circle: Bandung</span></a></li>
          <li><a href="https://www.facebook.com/groups/DevCSemarang"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username">Facebook Developer Circle: Semarang</span></a></li>
        </ul>
      </div>
      <div class="footer-column">
        <ul class="social-media-list">
          <li><a href="https://github.com/devcbandung/clashofcode"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">devcbandung/clashofcode</span></a></li>
          <li><a href="https://github.com/devcbandung/clashofcode-testdata-and-solution"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">devcbandung/clashofcode-testdata-and-solution</span></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
