---
layout: default
---

<h1>Tentang Clash of Code</h1>
<p>DevC Clash of Code (DevC CoC) adalah kontes pemrograman oleh <a href="https://www.facebook.com/groups/DevCBandung">DevC Bandung</a> dan <a href="https://www.facebook.com/groups/DevCSemarang">DevC Semarang</a> yang diadakan pada tanggal 13-25 Juni 2020. Terdapat 14 soal pemrograman yang harus diselesaikan selama 12 hari tersebut.</p>

<h2>Pemenang DevC CoC</h2>

<p>Berikut adalah tiga besar DevC CoC:</p>

<ol>
  <li><b>Jehian Norman Saviero</b> dengan 942 poin (dari maksimal 1000)</li>
  <li><b>Turfa Auliarachman</b> dengan 896 poin</li>
  <li><b>Mamat Rahmat</b> dengan 848 poin</li>
</ol>

<p>Ketiganya mendapatkan voucher Tokopedia masing-masing sebesar 500 ribu, 300 ribu, dan 200 ribu rupiah!</p>

<h2>Soal dan Editorial</h2>
<p>Soal-soal DevC CoC dapat diakses <a href="{{ '/problem' | relative_url }}">di sini</a>.</p>
<p>Editoral/pembahasan dapat diakses <a href="{{ '/editorial' | relative_url }}">di sini</a>.</p>
<p>Solusi dan kasus uji juga bisa diakses di <a href="https://github.com/devcbandung/clashofcode-testdata-and-solution"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg><span class="username">devcbandung/clashofcode-testdata-and-solution</span></a></p>

<h2>Klasemen Final</h2>
{%- include scoreboard.html -%}
